/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(/fonts/Poppins-Regular.ttf);
}

* {
  font-family: Poppins-Regular;
}


.uni-padding{
  margin: 0 8%;
}


/* Header styles */
header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  background-color: rgb(230 230 230);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

}

.logo{
  display: flex;
  border-bottom: 1px solid rgb(114, 110, 108);
  margin-top: 20px;
  align-items: center;
}

.logo i{
  font-size: 15px;
  color: grey;
  margin: 5px 10px;
}

.logo input{
  outline: none;
  background-color: rgb(230 230 230);
  border: 0px;
  font-size: 15px;
  color: grey;
  margin: 15px 0px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li img {
  width: 80px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* main*/


/* Hero section styles */


.upper-option{
  background-color: rgb(230 230 230);
}

.upper-option ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.upper-option ul li{
  margin: 40px;
}

.upper-option ul li a{
   text-decoration: none;
   color: black; 
}


.hero {
  background-image: linear-gradient(90deg, #00000087, transparent),
    linear-gradient(-90deg, #00000087, transparent), url(/main-image.jpg);
  background-size: cover;
  background-position: top;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 600px;
}

.hero button {
  background-color: #e84e1b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
